<div md-whiteframe="4" ng-if="vm.showAnimated" class="padd menuColor6 animate-if" ng-mouseenter="velicina = 8" ng-mouseleave="velicina = 3">
    <div layout="row">
        <h3 hide show-gt-xs>Za pregled prijave kliknite na marker.</h3>
        <h4 hide show-xs>
            Za pregled prijave kliknite na marker.
        </h4>
    </div>
</div>
<div></div>
<div md-whiteframe="4" class="mapHeight padd" ng-mouseenter="velicina2 = 8" ng-mouseleave="velicina2 = 3">
    <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
        <ng-map zoom="14" center="[43.346, 17.80]" scrollwheel="true">
            <marker ng-repeat="data in vm.dataFb track by $index" position="{{data.prijava.pos}}" title="Kategorija: {{data.prijava.kategorija}}"
                id="{{data.$id}}" on-click="vm.changeState($event)"></marker>
        </ng-map>
    </div>
</div>
<div>
</div>
<!--<h1 ng-repeat="data in vm.dataFb">{{data.$id}}</h1>-->

<!--<md-list>
    <md-list-item class="md-2-line">
        <div class="md-list-item-text">
            <label class="labelColor">Ukupno prijava:</label>
            <h2 id="ukupno" class="numberCircle">{{vm.dataFb.length}}</h2>
            <label class="labelColor">Ukupno zaprimljenih prijava:</label>
            <h2 id="zaprimljeno" class="numberCircle">{{vm.zaprimljeno}}</h2>
            <label class="labelColor">Ukupno prijava u obradi:</label>
            <h2 id="uobradi" class="numberCircle">{{vm.uobradi}}</h2>
            <label class="labelColor">Ukupno riješenih prijava:</label>
            <h2 id="otklonjeno" class="numberCircle">{{vm.otklonjeno}}</h2>
            <label class="labelColor">Posljednja prijava:</label>
            <h2>{{vm.last | date:'dd-MM-yyyy HH:mm:ss'}}</h2>
        </div>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>-->


<md-card class="cardHeight">
    <div class="md-list-item-text">
        <label class="labelColor">Ukupno prijava:</label>
        <h2 id="ukupno" class="numberCircle">{{vm.dataFb.length}}</h2>
        <label class="labelColor">Ukupno zaprimljenih prijava:</label>
        <h2 id="zaprimljeno" class="numberCircle">{{vm.zaprimljeno}}</h2>
        <label class="labelColor">Ukupno prijava u obradi:</label>
        <h2 id="uobradi" class="numberCircle">{{vm.uobradi}}</h2>
        <label class="labelColor">Ukupno riješenih prijava:</label>
        <h2 id="otklonjeno" class="numberCircle">{{vm.otklonjeno}}</h2>
        <label class="labelColor">Posljednja prijava:</label>
        <h2>{{vm.last | date:'dd-MM-yyyy HH:mm:ss'}}</h2>
    </div>
    <!--<md-divider ng-if="!$last"></md-divider>
        </md-card-content>-->
</md-card>

<!--<h4>{{vm.dataFb[0].odgovori['-KMyYbEBfxTEmlv5PTca'].stanje}}</h4>
{{vm.fbIds}}-->
<!--<h3 ng-repeat="data in vm.dataFb">{{data.prijava.vrijemePrijave}}</h3>-->
<!--<h1>vm.dataFb[1].prijava.vrijemePrijave</h1>-->