<div ng-if="vm.lastOdgovor.stanje" md-whiteframe="4" id="stanje" class="padd {{vm.lastOdgovor.stanje}}" ng-mouseenter="velicina = 8"
    ng-mouseleave="velicina = 3">
    <div layout="row">
        <h3 hide show-gt-xs class="animate-if">Trenutno stanje: {{vm.lastOdgovor.stanje}}</h3>
        <h4 hide show-xs class="animate-if">
            Trenutno stanje: {{vm.lastOdgovor.stanje}}
        </h4>
    </div>
</div>
<div></div>
<div md-whiteframe="4" class="mapHeight padd" ng-mouseenter="velicina2 = 8" ng-mouseleave="velicina2 = 3">
    <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
        <ng-map zoom="19" center="{{vm.dataFbId.prijava.pos}}" scrollwheel="true">
            <marker position="{{vm.dataFbId.prijava.pos}}" title="Kategorija: {{vm.dataFbId.prijava.kategorija}}"></marker>
        </ng-map>
    </div>
</div>
<br/>

<div md-whiteframe="4" id="stanje" class="padd menuColor6" ng-mouseenter="velicina = 8" ng-mouseleave="velicina = 3">
    <div layout="row">
        <h3 hide show-gt-xs class="animate-if">Prijava:</h3>
        <h4 hide show-xs class="animate-if">
            Prijava:
        </h4>
    </div>
</div>
<md-card class="cardHeight2">
    <div class="md-list-item-text">
        <md-list>
            <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                    <label class="labelColor">Kategorija:</label>
                    <h3>{{vm.dataFbId.prijava.kategorija}}</h3>
                    <label class="labelColor">Opis kvara:</label>
                    <h4>{{vm.dataFbId.prijava.opisKvara}}</h4>
                    <label class="labelColor">Vrijeme prijave:</label>
                    <p>{{vm.dataFbId.prijava.vrijemePrijave | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                </div>
                <md-button hide show-gt-xs class="md-secondary md-primary md-raised" ng-click="vm.showDialog($event)">Odgovori</md-button>
            </md-list-item>
            <md-button hide show-xs class="md-secondary md-primary md-raised" ng-click="vm.showDialog($event)">Odgovori</md-button>
        </md-list>
    </div>
</md-card>

<div ng-if="vm.lastOdgovor.stanje" md-whiteframe="4" id="stanje" class="padd menuColor6" ng-mouseenter="velicina = 8" ng-mouseleave="velicina = 3">
    <div layout="row">
        <h3 hide show-gt-xs class="animate-if">Odgovori:</h3>
        <h4 hide show-xs class="animate-if">
            Odgovori:
        </h4>
    </div>
</div>
<md-card ng-if="vm.lastOdgovor.stanje" class="cardHeight2">
    <div class="md-list-item-text">
        <md-list ng-repeat="odgovor in vm.dataFbOdg.slice().reverse() track by $index">
            <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                    <label id="{{odgovor.stanje}}" class="{{odgovor.stanje}}">{{vm.dataFbOdg.length - $index}}. Odgovor:</label>
                    <h3>{{odgovor.odgovor}}</h3>
                    <label id="{{odgovor.stanje}}" class="{{odgovor.stanje}}">Stajne kvara:</label>
                    <h4>{{odgovor.stanje}}</h4>
                    <label id="{{odgovor.stanje}}" class="{{odgovor.stanje}}">Vrijeme odgovora:</label>
                    <p>{{odgovor.vrijemeOdgovora | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                </div>
            </md-list-item>
            <md-divider ng-if="!$last"></md-divider>
        </md-list>
    </div>
</md-card>

<script type="text/ng-template" id="dialog1.html">
<md-dialog aria-label="Odgovor">
  <form name="odgovorForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Odgovor</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.zatvori()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2></h2>
    <md-input-container  class="md-block">
        <label>Napisite odgovor</label>
        <input md-maxlength="1024" required md-no-asterisk="" name="description" ng-model="vm.odgovor">
        <div ng-messages="projectForm.description.$error">
            <div ng-message="required">Obavezan unos.</div>
            <div ng-message="md-maxlength">Unos mora imati manje od 1024 znakova.</div>
        </div>
    </md-input-container>
    <div layout layout-sm="column">
        <md-input-container flex>
            <md-select ng-model="vm.stanje" required placeholder="Stanje kvara">
                <md-option ng-repeat="sta in vm.stanja" value="{{sta}}">{{sta}}</md-option>
            </md-select>
        </md-input-container>
</div>
</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.zatvori()">
       Natrag
      </md-button>
      <md-button ng-click="vm.odgovori()" ng-disabled="odgovorForm.$invalid">
        Odgovori
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>

<!--{{vm.dataFbId}}-->