<div md-whiteframe="4" ng-if="vm.showAnimated" class="menuColor6 animate-if" ng-mouseenter="velicina = 8" ng-mouseleave="velicina = 3">
    <div layout="row">
        <h3 ng-if="vm.positions.length === 0" class="animate-if">Molimo označite mjesto kvara.</h3>
        <div layout="row" flex layout-align="end center">
            <md-button ng-if="vm.positions.length !== 0" class="md-raised md-warn animate-if" ng-click="vm.deleteMarkers()">Briši oznaku
            </md-button>
        </div>
    </div>
</div>
<div></div>
<div md-whiteframe="4" ng-mouseenter="velicina2 = 8" ng-mouseleave="velicina2 = 3" class="mapHeight">
    <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
        <ng-map zoom="15" center="[43.346, 17.80]" scrollwheel="true" on-click="vm.addMarker()">
            <marker ng-repeat="p in vm.positions" position="{{p.pos}}" title="pos: {{p.pos}}"></marker>
        </ng-map>
    </div>
</div>
<!--{{vm.positions[0].pos}}-->
<!--{{vm.positions[0].pos[0]}} <br /> {{vm.positions[0].pos[1]}} <br /> {{vm.data.positi}}
                <br /> {{vm.positions.pos}}-->
<div>
</div>
<md-card ng-if="vm.positions.length>0" class="animate-if cardHeight">
    <div class="md-list-item-text">
        <form name="prijavaForm">
            <h1 class="md-title">Popunite obrazac za prijavu kvara:</h1>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Ime</label>
                    <input ng-model="vm.ime" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Prezime</label>
                    <input ng-model="vm.prezime" required>
                </md-input-container>
            </div>

            <md-input-container style="width:32%" flex>
                <label>E-mail</label>
                <input ng-model="vm.email" type="email" required>
            </md-input-container>

            <md-input-container style="width:32%" flex>
                <label>Broj telefona (opcionalno)</label>
                <input ng-model="vm.telefon" type="phone">
            </md-input-container>

            <md-input-container style="width:32%" flex>
                <label>Adresa</label>
                <input ng-model="vm.adresa" required>
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <md-select ng-model="vm.kategorija" required placeholder="Kategorija">
                        <md-option ng-repeat="kat in vm.kategorije" value="{{kat}}">{{kat}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-input-container class="md-block">
                <label>Opis kvara</label>
                <input md-maxlength="1024" required md-no-asterisk="" name="description" ng-model="vm.opisKvara">
                <div ng-messages="prijavaForm.description.$error">
                    <div ng-message="required">Obavezan unos.</div>
                    <div ng-message="md-maxlength">Unos mora imati manje od 1024 znakova.</div>
                </div>
            </md-input-container>
            <md-button ng-click="vm.posaljiPrijavu()" class="md-raised md-primary" ng-disabled="prijavaForm.$invalid || vm.positions.length===0">Pošalji prijavu</md-button>
        </form>
    </div>
</md-card>

<!--<div ng-repeat="time in vm.dataFb">
    {{ time.prijava.vrijemeKvara |  date:'dd-MM-yyyy HH:mm:ss'}}
</div>
<div ng-repeat="posit in vm.dataFb">
    <div md-whiteframe="5" class="mapHeight">
    <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
        <ng-map zoom="14" center="[43.346, 17.80]" scrollwheel="true" on-click="vm.addMarker()">
            <marker position="{{posit.prijava.pos}}" title="pos: {{posit.prijava.pos}}"></marker>
        </ng-map>
    </div>
</div>
</div>-->