[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.fabToolbardemoBasicUsage md-fab-toolbar.md-right md-fab-trigger.align-with-text {
  left: 7px; }

.animate-if {

}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}


.inputdemoErrors .inputErrorsApp {
  min-height: 48px; 
}

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; 
}

  .menuColor {
    background-color: rgb(38, 126, 213);
  }

  .menuColor2 {
    background-color: rgb(38, 126, 213);
    color: white;
    padding-left: 10px;
  }
  
  .menuColor6 {
    background-color: rgb(38, 126, 213);
    color: white;
  }

  .md-toolbar-tools {
    background-color: rgb(38, 126, 213);
  }

.md-subheader ._md-subheader-inner {
  display: block;
  padding: 0px;
}

.svgMos {
  padding-right: 10px;
  box-sizing: initial;
  height: 30px;
  width: 40px;
}

.md-sidenav {
  position: relative;
}

.md-menu-toolbar {
    background-color: rgb(38, 126, 213);
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}


.mapHeight {
  height: 300px;
}

body {
  margin-right: 0.6px;
}

.spanHeignt {
height: 20px;
}

.menuColor3 {
  background-color: rgb(26, 110, 255);
}

.menuColor4 {
  background-color: rgb(26, 110, 255);
  color: white;
    padding-left: 10px;
}

.btnWidth {
  width: 94%;
}

.padd {
  padding: 8px;
}

.labelColor {
  color: rgb(26, 110, 255);
}

.labelColor2 {
  color: rgb(244, 81, 30);
}

@media(min-width:501px){
  .md-dialog-content {
    width: 600px;
  }
}

@media(max-width:500px){
  .md-dialog-content {
    width: relative;
  }
}

#stanje.Zaprimljeno {
  color: white;
  background-color: #ff3333;
}

#stanje.obradi {
  color: white;
  background-color: #fcb53d;
}

#stanje.Otklonjeno {
  color: white;
  background-color: #54c454;
}

label#Zaprimljeno {
  color: #ff3333;
}

label.u.obradi {
  color: #fcb53d;
}

#Otklonjeno.Otklonjeno {
  color: #54c454;
}

md-toolbar.md-theme-light.ng-scope._md.md-theme-light.odgovoriHeader {
  padding: 0px;
}

#ukupno.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;
    
    background: #667;
    border: 2px solid #667;
    color: white;
    text-align: center;
    
    font: 32px Arial, sans-serif;
}

#zaprimljeno.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;
    
    background: #ff3333;
    border: 2px solid #666;
    color: white;
    text-align: center;
    
    font: 32px Arial, sans-serif;
}

#uobradi.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;
    
    background: #fcb53d;
    border: 2px solid #666;
    color: white;
    text-align: center;
    
    font: 32px Arial, sans-serif;
}

#otklonjeno.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;
    
    background: #54c454;
    border: 2px solid #666;
    color: white;
    text-align: center;
    
    font: 32px Arial, sans-serif;
}

.cardHeight {
  padding: 15px;
  padding-left: 25px;
  margin: 1px;
}

.cardHeight2 {
  padding: 15px;
  padding-left: 10px;
  margin: 1px;
  margin-bottom: 10px;
}

.cardHeight3 {
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
  margin-bottom: 0px;
}

.layout-fill {
     height: auto;
}