<html lang="en" ng-app="prijavaKvara">

<head>
    <title>Mostar bez kvara</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.min.css">
    <link rel="stylesheet" href="https://material.angularjs.org/1.1.0-rc.5/docs.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="app/style/style.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="app/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="app/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="app/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="app/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="app/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="app/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="app/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="app/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="app/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="app/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="app/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="app/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="app/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="app/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="app/img/favicon/ms-icon-150x150.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body layout="row" ng-cloak ng-controller="layoutCtrl as vm">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-swipe-left="vm.close()" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar>
            <span class="menuColor3 spanHeignt"></span>
            <div layout="column" class="md-toolbar-tools-bottom inset menuColor3">
                <span></span>
                <md-subheader class="md-no-sticky menuColor4">
                    <h3>Izbornik</h3>
                </md-subheader>
            </div>
        </md-toolbar>
        <md-list>
            <md-item>
                <md-button ui-sref="prijava" class="btnWidth" ng-click="vm.close()">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="playlist_add"></ng-md-icon>
                        </div>
                        <div class="inset">Prijavi kvar
                        </div>
                    </md-item-content>
                </md-button>
            </md-item>
            <md-item>
                <md-button ui-sref="pregled" class="btnWidth" ng-click="vm.close()">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon md-svg-src="app/img/ic_playlist_add_check_black_48px.svg"></md-icon>
                        </div>
                        <div class="inset">Pregled prijava
                        </div>
                    </md-item-content>
                </md-button>
            </md-item>
            <md-item>
                <md-button class="btnWidth" ng-click="vm.close()">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon md-svg-src="app/img/ic_account_circle_black_48px.svg"></md-icon>
                        </div>
                        <div class="inset">Login
                        </div>
                    </md-item-content>
                </md-button>
            </md-item>
            <md-divider></md-divider>
            <md-subheader></md-subheader>
        </md-list>
    </md-sidenav>
    <div layout="column" class="relative" layout-fill role="main">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="vm.toggleSidenav('left')" hide-gt-md aria-label="Menu">
                    <ng-md-icon icon="menu" style="fill: white"></ng-md-icon>
                </md-button>
                <span flex></span>
                <h3 hide show-gt-xs md-direction="right">
                    <md-icon class="svgMos" md-svg-src="app/img/Coat_of_arms_of_Mostar.svg"></md-icon>Mostar bez kvara
                </h3>
                <h4 hide show-xs md-direction="right">
                    Mostar bez kvara
                </h4>
                <md-button md-direction="right" aria-label="Open Settings" ng-click="">
                    <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex md-scroll-y>
            <ui-view layout="column" layout-fill layout-padding>
            </ui-view>
        </md-content>
    </div>

    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU5i6c8o1Pn7Us5vZ4mSdWjcI0l0D5v2c&callback=initMap"
  type="text/javascript"></script>-->
    <!--<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>-->
    <script src="https://code.angularjs.org/1.5.7/angular.min.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>-->
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>

    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.min.js"></script>

    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/prijavaCtrl.js"></script>
    <script src="app/controllers/layoutCtrl.js"></script>
    <script src="app/controllers/pregledCtrl.js"></script>
    <script src="app/controllers/pregledDetaljiCtrl.js"></script>

    <script src="app/services/timeService.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

    <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDJkA9ov1GXJVrTAkeaQ5QajGea-MfomiM",
    authDomain: "mostarbezkvara-54c95.firebaseapp.com",
    databaseURL: "https://mostarbezkvara-54c95.firebaseio.com",
    storageBucket: "mostarbezkvara-54c95.appspot.com",
  };
  firebase.initializeApp(config);
</script>
</body>

</html>